DATABASE_URL="file:./dev.db"
SESSION_SECRET="change-me-to-a-random-32-char-minimum-secret"
NEXT_PUBLIC_SITE_URL="https://ropejfwe1.win"
NEXT_PUBLIC_SITE_NAME="GramStake"
NEXT_PUBLIC_WC_PROJECT_ID=
TRONGRID_API_KEY=
ADMIN_TRON_PRIVATE_KEY=
